<?xml version="1.0" encoding="utf-8" standalone="no"?><COMMON>
<PROXYLOGIN>
<ADDRESS>http://s888.365.qq168.ws</ADDRESS>
<ADDRESS2>http://s888.365.qq168.ws</ADDRESS2>
<ADDRESS1>http://s888.365.qq168.ws</ADDRESS1>
<ADDRESS3>http://s888.365.qq168.ws</ADDRESS3>
<ACCOUNT>qazz1</ACCOUNT>
<PASSWORD>aaa888</PASSWORD>
</PROXYLOGIN>
<PROXYLOGIN1>
<ADDRESS>http://s888.365.qq168.ws</ADDRESS>
<ACCOUNT>qazz1</ACCOUNT>
<PASSWORD>aaa888</PASSWORD>
</PROXYLOGIN1>
<BETLOGIN>
<ADDRESS>http://e16bec03.dsn.ww311.com</ADDRESS>
<ADDRESS2>http://e16bec03.dsn.ww311.com</ADDRESS2>
<ADDRESS3>http://f140b874.dsn.ww311.com</ADDRESS3>
<ADDRESS1>http://835b1195.dsn.ww311.com</ADDRESS1>
<ACCOUNT>hgg2277</ACCOUNT>
<PASSWORD>abcd1234</PASSWORD>
</BETLOGIN>
<WEICAIBETLOGIN>
<ADDRESS>http://52.192.18.67</ADDRESS>
<ACCOUNT>wc9999</ACCOUNT>
<PASSWORD>9999Aaaa</PASSWORD>
</WEICAIBETLOGIN>
<TIANCAIBETLOGIN>
<ADDRESS>http://yy1888.net</ADDRESS>
<ACCOUNT>gg911</ACCOUNT>
<PASSWORD>asdf1581</PASSWORD>
</TIANCAIBETLOGIN>
<PATH>
<TESSPATH>C:\Program Files (x86)\Tesseract-OCR</TESSPATH>
</PATH>
</COMMON>