<?xml version="1.0" encoding="utf-8" standalone="no"?><COMMON>
<PROXYLOGIN>
<ADDRESS>http://74652751.365.qq168.ws</ADDRESS>
<ADDRESS2>http://81055873.365.qq168.ws</ADDRESS2>
<ADDRESS1>http://18389222.365.qq168.ws</ADDRESS1>
<ADDRESS3>http://94500151.365.qq168.ws</ADDRESS3>
<ACCOUNT>abb100</ACCOUNT>
<PASSWORD>aaa1111</PASSWORD>
</PROXYLOGIN>
<BETLOGIN>
<ADDRESS>http://e16bec03.dsn.ww311.com</ADDRESS>
<ADDRESS2>http://e16bec03.dsn.ww311.com</ADDRESS2>
<ADDRESS3>http://f140b874.dsn.ww311.com</ADDRESS3>
<ADDRESS1>http://835b1195.dsn.ww311.com</ADDRESS1>
<ACCOUNT>hgg2277</ACCOUNT>
<PASSWORD>abcd1234</PASSWORD>
</BETLOGIN>
<WEICAIBETLOGIN>
<ADDRESS>http://52.192.18.67</ADDRESS>
<ACCOUNT>wc9999</ACCOUNT>
<PASSWORD>9999Aaaa</PASSWORD>
</WEICAIBETLOGIN>
<TIANCAIBETLOGIN>
<ADDRESS>http://yy1888.net</ADDRESS>
<ACCOUNT>gg911</ACCOUNT>
<PASSWORD>asdf1581</PASSWORD>
</TIANCAIBETLOGIN>
<PATH>
<TESSPATH>C:\Program Files (x86)\Tesseract-OCR</TESSPATH>
</PATH>
</COMMON>